body,
html {
    width: 1280px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    font-family: GothamRounded;
}

.intro-header {
    height: 745px;
    color: #f8f8f8;
    background: url(../images/bg.jpg);
    background-size: cover;
    text-align: center;
}

.header-container {
    display: inline;
    font-size: 15px;
    letter-spacing: 3px;
    font-kerning: none;
}

.header-container a {
    color: white;
    text-decoration: none;
}

.header-container a:hover {
    color: #16a085;
}

#h-button {
    float: left;
    margin: 71px 32px 0 272px;
}

#p-button {
    float: left;
    margin: 71px 50px 0 32px;
}

#pic {
    float: left;
    margin: 40px 49px 0 50px;
}

#d-button {
    float: left;
    margin: 71px 38px 0 49px;
}

#l-button {
    float: left;
    margin: 71px 70px 0 38px;
}

.heading {
    color: #16a085;
    letter-spacing: 3px;
    font-size: 17.5px;
}

.text {
    font: 11.5px GothamRoundedBook;
    letter-spacing: 2px;
}

.bold {
    font: 11.5px GothamRoundedBold;
    letter-spacing: 2px;
    line-height: 2.1em;
}

.button {
    background-color: #16a085;
    border: none;
    color: #ffffff;
    font: 0.725em GothamRounded;
    letter-spacing: 2px;
}

.button:hover {
    background-color: #028c71;
}

.container {
    width: auto;
    padding-top: 326px;
    padding-left: 8px;
    font-family: GothamRoundedBold;
}

.container h1 {
    font-size: 35px;
    line-height: 0.35em;
    letter-spacing: 6px;
}

.container h4 {
    font: 15px GothamRoundedBook;
    letter-spacing: 3px;
    padding-right: 5px;
    margin-top: 20px;
}

.container button {
    height: 49px;
    width: 166px;
    margin: 5px 7px 0 0;
    border-radius: 2px;
    padding-top: 3.5px;
}

.container-social {
    margin-top: 217px;
    font-size: 25px;
    letter-spacing: 4px;
}

.section-a {
    height: 493px;
    background: url(../images/bg2.jpg) no-repeat center center;
    background-size: cover;
}

.a-represent {
    padding: 91.5px 0 0 129px;
    width: 450px;
}

.a-represent p {
    padding-top: 21px;
    line-height: 2.1em;
}

.a-represent button {
    height: 51px;
    width: 192px;
    margin-top: 30px;
    border-radius: 3px;
    
    padding-top: 5px;
    padding-right: 2.5px;
}

.section-b {
    height: 557px;
    background: url(../images/2.jpg) no-repeat center center;
    background-size: cover;
}

.b-design {
    float: right;
    width: 450px;
    padding: 123px 64px 0 0;
}

.b-design p {
    padding-top: 19px;
    padding-left: 3px;
    line-height: 1.913em;
    letter-spacing: 0.18em;
}

.b-design button {
    height: 51px;
    width: 192px;
    margin: 26px 0 33px 1px;
    padding: 2px 3px 0 0;
}

.b-angle {
    float: right;
    clear: right;
    margin-right: 453px;
}

.b-angle p {
    font: 0.73em GothamRoundedBold;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.b-angle i {
    font-size: 29px;
    letter-spacing: 17px;
}

.section-c {
    background-color: #f5f6f7;
    padding: 84px 125px 115px 127px;
}

.c-community {
    float: left;
    text-align: center;
    margin: 44px 80px 0 0;
}

.c-community h3 {
    margin: 24px 0 19.5px;
    padding-left: 2px;
    font-size: 0.95em;
    letter-spacing: 3px;
}

.c-community p {
    font: 9.5px GothamRoundedBook;
    letter-spacing: 0.19em;
    line-height: 1.35em;
    margin-top: 5px;
    padding-left: 2px;
}

#c-van {
    margin-right: 19px;
}

.c-angle {
    text-align: right;
    font-size: 29px;
    letter-spacing: 4px;
    margin-bottom: 2px;
    font-weight: bold;
}

.section-d {
    background: url(../images/photo_bg.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 324px 0 385px;
}

.section-d h3 {
    color: white;
    letter-spacing: 0.2em;
    font-size: 1.42em;
    margin-left: 6px;
    margin-bottom: 0;
}

.d-email {
    margin: 30px 0 0 467px;
}

.d-email input {
    float: left;
    clear: left;
    border: none;
    height: 58px;
    width: 258px;
    border-radius: 3px 0 0 3px;
    
    font: 15px GothamRounded;
    letter-spacing: 3px;
    padding: 2px 0 0 22px;
}

.d-email button {
    float: left;
    border-radius: 0 3px 3px 0;
    font-size: 23px;
    padding: 18px 16px 14px 22px;
}

.section-e {
    background-color: #f5f6f7;
    text-align: center;
    padding: 80px 0 201px 3px;
    letter-spacing: 0.25em;
    line-height: 0.1em;
}

.section-e p {
    font-size: 11px;
    letter-spacing: 0.22em;
    color: #373737;
    line-height: 2em;
}

.e-btns {
    padding-left: 327px;
}

.e-apple,
.e-android,
.e-apple-social-button,
.e-android-social-button {
    float:left;
    border: none;
    color: white;
    font-family: GothamRoundedBold;
    margin-top: 29px;
}

.e-apple,
.e-android {
    background-color: #16a085;
    border-radius: 0 3px 3px 0;
}

.e-apple {
    margin-right: 26px;
    font-size: 26px;
    padding: 16px 14px 14px 18px;
}

.e-android {
    font-size: 31px;
    padding: 12px 11px 13px 17px;
}

.e-apple-social-button,
.e-android-social-button {
    border-radius: 3px 0 0 3px;
    background-color: #1abc9c;
    width: 240px;
    height: 56px;
    text-align: left;
}

.e-apple-social-button:hover,
.e-android-social-button:hover {
    background-color: #028c71;
}

.e-apple-social-button {
    font-size: 15px;
    padding: 5px 0 0 25px;
    letter-spacing: 3px;
}

.e-android-social-button {
    font-size: 16px;
    padding: 2px 0 0 30px;
    letter-spacing: 4px;
}

.footer {
    padding: 30px 129px 15px 127px;
}

.footer h3 {
    color: #16a085;
    font-size: 14px;
    letter-spacing: 0.15em;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: #028c71;
}

.footer p {
    font-size: 14px;
    letter-spacing: 0.155em;
    line-height: 2em;
}

.footer img {
    margin-top: 8px;
    width: 53px;
    height: 55px;
    float: right;
}