body,
html {
    width: 1280px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    font-family: GothamRounded;
}

.intro-header {
    height: 745px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/bg.jpg);
    background-size: cover;
}

.header-container {
    
    display: inline;
    font-size: 15px;
    letter-spacing: 3px;
    font-kerning: none;
}

#h {
    float: left;
    padding: 71px 32px 0 272px;
}

#p {
    float: left;
    padding: 71px 50px 0 32px;
}

#pic {
    float: left;
    padding: 40px 49px 0 50px;
}

#d {
    float: left;
    padding: 71px 38px 0 49px;
}

#l {
    float: left;
    padding: 71px 70px 0 38px;
}

.container {
    width: auto;
    padding-top: 326px;
    padding-left: 8px;
    font-family: GothamRoundedBold;
}

.container h1 {
    font-size: 35px;
    line-height: 0.35em;
    letter-spacing: 6px;
}

.container h4 {
    font-family: GothamRoundedBook;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 0 5px 0 0;
    margin-top: 20px;
}

.container button {
    height: 49px;
    width: 166px;
    margin: 5px 7px 0 0;
    border-radius: 2px;
    padding-top: 3.5px;
}

.social {
    margin-top: 217px;
    padding-left: 3px;
    font-size: 25px;
}

.social i {
    padding-right: 9px;
}

.heading {
    color: #16a085;
    letter-spacing: 3px;
    font-size: 17.5px;
}

.text {
    font-family: GothamRoundedBook;
    font-size: 11.5px;
    letter-spacing: 2px;
}

.bold {
    font-family: GothamRoundedBold;
    font-size: 11.5px;
    letter-spacing: 2px;
    line-height: 2.1em;
}

.button {
    background-color: #16a085;
    border: none;
    color: #ffffff;
    font-family: GothamRounded;
    font-size: 11.5px;
    letter-spacing: 2px;
}

.section-a {
    height: 493px;
    background: url(../images/bg2.jpg) no-repeat center center;
    background-size: cover;
}

.represent {
    padding: 91.5px 0 0 129px;
    width: 450px;
}

.represent p {
    padding-top: 21px;
    line-height: 2.1em;
}

.represent button {
    height: 51px;
    width: 192px;
    margin-top: 30px;
    border-radius: 3px;
    
    padding-top: 5px;
    padding-right: 2.5px;
}

.section-b {
    height: 557px;
    background: url(../images/2.jpg) no-repeat center center;
    background-size: cover;
}

.design {
    float: right;
    width: 450px;
    padding: 123px 64px 0 0;
}

.design p {
    padding-top: 17px;
    padding-left: 3px;
    line-height: 1.92em;
}

.design button {
    height: 51px;
    width: 192px;
    margin: 24px 0 33px 1px;
    padding: 2px 3px 0 0;
}

.angle {
    float: right;
    clear: right;
    margin-right: 453px;
}

.angle p {
    font-family: GothamRoundedBold;
    font-size: 0.73em;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.angle i {
    font-size: 29px;
    letter-spacing: 17px;
}

.section-c {
    background-color: #f5f6f7;
    padding: 84px 125px 115px 127px;
}

.community {
    float: left;
    text-align: center;
    margin: 44px 80px 0 0;
}

.community h3 {
    margin: 24px 0 19.5px;
    padding-left: 2px;
    font-size: 0.95em;
    letter-spacing: 3px;
}

.community p {
    font-family: GothamRoundedBook;
    font-size: 9.5px;
    letter-spacing: 0.19em;
    line-height: 1.35em;
    margin-top: 5px;
    padding-left: 2px;
}

#van {
    margin-right: 19px;
}

.scroll {
    text-align: right;
    font-size: 29px;
    letter-spacing: 4px;
    margin-bottom: 2px;
    font-weight: bold;
}

.section-d {
    background: url(../images/photo_bg.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 324px 0 385px;
}

.section-d h3 {
    color: white;
    letter-spacing: 0.2em;
    font-size: 1.42em;
    margin-left: 6px;
    margin-bottom: 0;
}

.email {
    margin: 30px 0 0 467px;
}

.email input {
    float: left;
    clear: left;
    border: none;
    height: 58px;
    width: 258px;
    border-radius: 3px 0 0 3px;
    
    font-family: GothamRounded;
    letter-spacing: 3px;
    font-size: 15px;
    padding: 2px 0 0 22px;
}

.email button {
    float: left;
    border: none;
    height: 60px;
    width: 63px;
    background-color: #16a085;
    border-radius: 0 3px 3px 0;
    
    color: white;
    font-size: 23px;
    padding: 3px 0 0 2px;
}

.section-e {
    background-color: #f5f6f7;
    text-align: center;
    padding: 80px 0 201px 3px;
    letter-spacing: 0.25em;
    line-height: 0.1em;
}

.section-e p {
    font-size: 11px;
    letter-spacing: 0.22em;
    color: #373737;
    line-height: 2em;
}

.btns {
    padding-left: 327px;
}

.apple,
.android,
.apple-social-button,
.android-social-button {
    float:left;
    border: none;
    color: white;
    font-family: GothamRoundedBold;
    margin-top: 29px;
}

.apple,
.android {
    background-color: #16a085;
    border-radius: 0 3px 3px 0;
}

.apple {
    margin-right: 26px;
    font-size: 26px;
    padding: 16px 14px 14px 18px;
}

.android {
    font-size: 31px;
    padding: 12px 11px 13px 17px;
}

.apple-social-button,
.android-social-button {
    border-radius: 3px 0 0 3px;
    background-color: #1abc9c;
    width: 240px;
    height: 56px;
    text-align: left;
    
}

.apple-social-button {
    font-size: 15px;
    padding: 5px 0 0 25px;
    letter-spacing: 3px;
}

.android-social-button {
    font-size: 16px;
    padding: 2px 0 0 30px;
    letter-spacing: 4px;
}

footer {
    height: 150px;
}

p.copyright {
    margin: 15px 0 0;
}